.container {
    display: flex;
	flex-wrap: wrap;
    justify-content: center;
}

.cards {
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
}

.card-deck {
    margin-top: 20px;
    margin-bottom: 20px;
}

#map {
    display: flex;
    width: 500px;
    height: 500px;
    background: #ddd;
    justify-content: center;
}